.back-button {
    @include single-element-style;
    @include set-font(300, 'home');
    height: 2.5em;
    width: 8em;
    border: none;
    cursor: pointer;

    i {
        margin-right: 0.5em;
    }
    .light-theme & {
        color: set-element-style($light-theme, 'text');
    }

    .dark-theme & {
        color: set-element-style($dark-theme, 'text');
    }

    &:hover {
        .light-theme & {
            box-shadow: 0 0 1em hsl(0, 0%, 70%);
        }

        .dark-theme & {
            box-shadow: 0 0 1em hsl(207, 26%, 10%);
        }
    }
}

.section {
    display: flex;
    img {
        width: 10em;
        height: 5em;
    }
}

.details {
    &__section {
        display: flex;
    }
}
