.theme-switcher {
    cursor: pointer;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    border-radius: 0;
    h3 {
        @include set-font(800, 'details');
    }

    span {
        @include set-font(600, 'home');
        i {
            margin-right: 5px;
        }
    }

    @include single-element-style;
}
