.filtration {
    display: flex;
    justify-content: space-between;
    height: 3em;

    &__search-bar {
        position: relative;
        height: 3em;
        border-radius: 0.3em;
        @include single-element-style;

        input {
            width: 25em;
            padding: 1.5em;
            padding-left: 3em;

            .light-theme & {
                color: set-element-style($light-theme, 'text');
            }

            .dark-theme & {
                color: set-element-style($dark-theme, 'text');
            }
        }
        i {
            position: absolute;
            left: 1em;
            top: 0.9em;
            .light-theme & {
                color: set-element-style($light-theme, 'input');
            }

            .dark-theme & {
                color: set-element-style($dark-theme, 'text');
            }
        }
    }

    input,
    .select {
        @include input-style;
        @include single-element-style;
        height: 3.5em;
    }

    &__select-box {
        position: relative;
        i {
            position: absolute;
            right: $select-padding;
            top: 1em;
            font-weight: 600;
            cursor: pointer;
            &:hover {
                transform: scale(1.2);
            }
        }
        .select {
            width: 15em;
            padding: $select-padding;
            appearance: none;
            cursor: pointer;
            @include set-font(600, 'home');

            .light-theme & {
                color: set-element-style($light-theme, 'text');
            }

            .dark-theme & {
                color: set-element-style($dark-theme, 'text');
            }
        }
    }
}

.options {
    display: none;
    margin-top: 0.5em;
    @include single-element-style;
    li {
        @include set-font(600, 'home');
        padding: 1em;
        list-style: none;
        cursor: pointer;

        &:hover {
            .light-theme & {
                background: set-element-style($light-theme, 'input');
            }

            .dark-theme & {
                background: set-element-style($dark-theme, 'background');
            }
        }
    }
}

.container {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 0.65fr));
    margin-top: 2rem;
    column-gap: 3rem;
    row-gap: 4rem;
    .card {
        height: 20em;
        cursor: pointer;
        @include single-element-style;
        a {
            text-decoration: none;
            .light-theme & {
                color: set-element-style($light-theme, 'text');
            }

            .dark-theme & {
                color: set-element-style($dark-theme, 'text');
            }
        }
        img {
            height: 50%;
            width: 100%;
            display: block;
            object-fit: cover;
            border-top-left-radius: 0.3em;
            border-top-right-radius: 0.3em;
        }

        &__details {
            @include set-font(600, 'home');
            padding: 1rem 2rem;

            h4 {
                @include set-font(800, 'details');
                margin-bottom: 1rem;
            }

            span {
                font-weight: 300;
            }
        }
    }
}
