@media screen and (max-width: 950px) {
    .section {
        img {
            width: 50%;
        }
    }
    .details {
        width: 50%;
        &__section {
            flex-direction: column;

            &--row1 {
                width: 100%;
            }

            &--row2 {
                width: 100%;
                margin-top: 1.5rem;
            }
        }
    }
}

@include smaller_screen {
    .section {
        flex-direction: column;
        img {
            width: 100%;
        }
    }

    .details {
        width: 100%;
    }
}
