@import './config', './header', './main', './country', './responsive';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    min-width: 100%;
    width: 100%;
    overflow-x: hidden;
    min-height: 100vh;
}

.light-theme {
    @include theme-setup($light-theme);
}

.dark-theme {
    @include theme-setup($dark-theme);
}

main {
    margin: 2rem 3rem;
    height: 100%;
}

a {
    text-decoration: none;
    .light-theme & {
        color: set-element-style($light-theme, 'text');
    }

    .dark-theme & {
        color: set-element-style($dark-theme, 'text');
    }
}

h1 {
    .light-theme & {
        color: set-element-style($light-theme, 'text');
    }

    .dark-theme & {
        color: set-element-style($dark-theme, 'text');
    }

    font: 800 3em $main-font;
    text-align: center;
}
