@import './config', './header', './main', './country', './responsive';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    min-width: 100%;
    width: 100%;
    overflow-x: hidden;
    min-height: 100vh;
}

.light-theme {
    @include theme-setup($light-theme);
}

.dark-theme {
    @include theme-setup($dark-theme);
}

main {
    margin: 2rem 3rem;
    height: 100%;
}
